<div class="container">
    
    <div class="row">
        <div class="col-md-12">
            <h1>Contribuição</h1>
        </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-4 ">
        <ul>
          <li>app-arrecadacao-mensal-por-uf</li>
          <li><a (click)="onSelect('arrecadacaofontereceita')">Arrecadacao por Fonte e UF </a></li>
          <li>app-estatistica-por-idade</li>
          <li>app-estatistica-por-uf</li>
          <li>app-historico-mensal-arrecadacao</li>
          <li>app-outros-contribuintes</li>
          <li>app-recolhimento-empresa</li>
        </ul>
      </div>
      <div class="col-md-8">
        <app-arrecadacao-mensal-por-uf *ngIf=isArrecadacaoMensalSelected()></app-arrecadacao-mensal-por-uf>
        <app-arrecadacao-por-fonte-receita *ngIf=isArrecadacaoFonteReceitaSelected()></app-arrecadacao-por-fonte-receita>
        <app-estatistica-por-idade *ngIf=isEstatisticaIdadeSelected()></app-estatistica-por-idade>
        <app-estatistica-por-uf *ngIf=isEstatisticaUfSelected()></app-estatistica-por-uf>
        <app-historico-mensal-arrecadacao *ngIf=isHistoricoSelected()></app-historico-mensal-arrecadacao>
        <app-outros-contribuintes *ngIf=isOutrosSelected()></app-outros-contribuintes>
        <app-recolhimento-empresa *ngIf=isRecolhimentoEmpresaSelected()></app-recolhimento-empresa>
      </div>
    </div>  
    
    <hr>
    <div class="row">
      <div class="col-md-12">
        <hr>
        <button class="btn btn-primary" (click)="onClick()">Reload</button>
      </div>
    </div>
</div>