<div class="container">
    
    <div class="row">
        <div class="col-md-12">
            <h1>Contribuição</h1>
        </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-4 ">
        <ul>
          <li><a (click)="onSelect('arrecadacaomensal')">app-arrecadacao-mensal-por-uf</a></li>
          <li><a (click)="onSelect('arrecadacaofontereceita')">app-arrecadacao-por-fonte-receita </a></li>
          <li><a (click)="onSelect('estatisticaidade')">app-estatistica-por-idade </a></li>
          <li><a (click)="onSelect('estatisticauf')">app-estatistica-por-uf </a></li>
          <li><a (click)="onSelect('historico')">app-historico-mensal-arrecadacao </a></li>
          <li><a (click)="onSelect('outros')">app-outros-contribuintes</a></li>
          <li><a (click)="onSelect('recolhimentoempresa')">app-recolhimento-empresa</a></li>
        </ul>
      </div>
      <div class="col-md-8">
        <app-arrecadacao-mensal-por-uf *ngIf=isArrecadacaoMensalSelected()></app-arrecadacao-mensal-por-uf>
        <app-arrecadacao-por-fonte-receita *ngIf=isArrecadacaoFonteReceitaSelected()></app-arrecadacao-por-fonte-receita>
        <app-estatistica-por-idade *ngIf=isEstatisticaIdadeSelected()></app-estatistica-por-idade>
        <app-estatistica-por-uf *ngIf=isEstatisticaUfSelected()></app-estatistica-por-uf>
        <app-historico-mensal-arrecadacao *ngIf=isHistoricoSelected()></app-historico-mensal-arrecadacao>
        <app-outros-contribuintes *ngIf=isOutrosSelected()></app-outros-contribuintes>
        <app-recolhimento-empresa *ngIf=isRecolhimentoEmpresaSelected()></app-recolhimento-empresa>
      </div>
    </div>  
    
    <hr>
    <div class="row">
      <div class="col-md-12">
        <hr>
        <button class="btn btn-primary" (click)="onClick()">Reload</button>
      </div>
    </div>
</div>